# Rejet des archives .jar
*.jar

# Rejet des fichiers .class
*.class

# Rejet fichiers debug
output.log
tree.txt
tree.spark.txt

# Rejet des dossiers target
/fuzzyjoin-0.0.2/fuzzyjoin-core/target/
/fuzzyjoin-0.0.2/fuzzyjoin-hadoop/target/
/fuzzyjoin-0.0.2/fuzzyjoin-spark/target/